@model ShoppAppWebUI.Models.Product;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    @* ViewData *@
    @* <h1>@ViewData["Category"] Kategorisi</h1>
    <h4>@(((Product)ViewData["Product"]).Name)</h4> *@

    @* ViewBag *@
    @* <h1>@ViewBag.Category</h1>
    <h1>@ViewBag.Product.Name</h1> *@

    @* Model *@
    @* <h1>Telefon Kategorisi</h1>
    <h4>@Model.Name</h4> *@
</body>
</html>