@model ProductViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>

<body>
    <h1>@Model.Category.Name</h1>
    <div>
        <p>@Model.Products[0].Name</p>
        <p>@Model.Products[0].Price</p>
    </div>
    <div>
        <p>@Model.Products[1].Name</p>
        <p>@Model.Products[0].Price</p>
    </div>
</body>

</html>